{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
    <center>

    <h1>Clubs ESPRIT</h1>
    <p> Au sein d'Esprit, les associations et clubs complissent plusieurs roles etant donné la diversité des motivations qui atteunt ceux qui en sont à l'origine.Conscient de l'importance de la vie associative, les étudiants jouent un role important dans l'élaboration et la transmission des messages aux destinataires.Ci-dessous la liste des clubs d'Esprit.N'hesitez pas à la compléter. </p>
    <img src="{{  asset('esprit.jpg')}}"/><br>
    <a href="{{ path('app_get_name',{'nom':'wael'}) }}">Aaaa</a>

    </center>

{% endblock %}